.crd__wrap {
    background: #fff;
    flex: 1 1;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 50px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -1px #00000038;
}
.crd__text {
    color: #6363c1;
    font-size: 20px;
}
.crd__count {
    color: #6363c1;
    font-size: 30px;
}

@media only screen and (max-width: 460px) {
    
    .crd__wrap {
        flex-direction: column;
        background: #fff;
        flex: 1 1;
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 50px 0px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px -1px #00000038;
        }
  }